.btn
  position relative
  display inline-block
  letter-spacing 1px
  font-weight 400
  text-transform uppercase
  cursor pointer
  border 0
  padding 6px 15px
  margin 10px auto
  text-decoration none
  box-shadow 0 4px theshadow
  outline none
  fs 16px
  border none
  text-align center
  &:hover
    box-shadow 0 2px theshadow
    top 1px
  @media any-phone
    width 100%

.btn__primary
  background qb
  color w

.btn__danger
  background qr
  color w

.btn__addcustomer
  margin 20px auto
