.customers
  lost-utility clearfix

.customer__card
  position relative
  display flex
  flex-direction row
  align-items center
  background w
  color theshadow
  fs 16px
  fw 400
  margin 10px 0
  box-shadow 0 1px 1px 0 nine
  transition all ease-in-out .3s
  &:hover
    box-shadow 0 1px 1px 0 qb
    @media any-desktop
      .customer__card--actions
        display flex
  @media any-desktop
    lost-column 1/3
  @media any-tablet
    lost-column 1/2
  @media any-phone
    lost-column 1/1
  p
    margin 0

.customer__card--link
  padding 20px
  cursor pointer
  flex 1

.customer__card--content
  p
    vertical-align bottom
  .material-icons
    fs 15px
    color nine

.customer__card--actions
  position absolute
  lost-utility clearfix
  background qr
  color w
  align-items center
  right 0
  width 50px
  height 100%
  transition all ease .3s
  @media any-desktop
    display none
  @media any-tablet
    display flex
  i
    position relative
    cursor pointer
    display block
    margin auto
    @media any-desktop
      fs 18px
    @media any-tablet
      fs 22px
    @media any-phone
      fs 28px

.customer__view--card
  background w
  padding 40px
  box-shadow 0 1px 1px 0 nine
  p
    margin 5px 0
    padding 10px 0
    span
      background qw
      padding 5px 10px
