.input__field
  display block
  padding 10px 0
  label,
  input
    display block
  label
    fw 700
  input
    padding 10px 10px
    fs 18px
    fw 400
    @media any-tablet
      width 100%
  input::placeholder
    color nine
  @media any-desktop
    input
      width 100%
