<div class="input__field">
  <label>
    Name
    <input required class="custom__input" type="text" placeholder="Your Name" ng-model="customer.name">
  </label>
</div>
<div class="input__field">
  <label>
    Email
    <input required class="custom__input" type="email" placeholder="youremail@email.com" ng-model="customer.email">
  </label>
</div>
<div class="input__field">
  <label>
    Phone
    <input required class="custom__input" type="text" placeholder="123445612345" ng-model="customer.phone">
  </label>
</div>
<div class="input__field">
  <label>
    Address
    <input required class="custom__input" type="text" placeholder="Street 6th, 2010" ng-model="customer.address">
  </label>
</div>
<div class="input__field">
  <label>
    City
    <input required class="custom__input" type="text" placeholder="The City" ng-model="customer.city">
  </label>
</div>
<div class="input__field">
  <label>
    State
    <input required class="custom__input" type="text" placeholder="The State" ng-model="customer.state">
  </label>
</div>
<div class="input__field">
  <label>
    Zipcode
    <input required class="custom__input" type="text" placeholder="91249" ng-model="customer.zipcode">
  </label>
</div>
<div class="the__actions form__actions">
  <button class="btn btn__primary" type="submit">Save</button>
  <a class="btn btn__danger" ui-sref="customers">Back</a>
</div>
