<section class="customers">
  <header class="customers__header">
    <h1>Customers</h1>
    <a ui-sref="newCustomer">Add new customer</a>
  </header>
  <div class="customers__card--grid">
    <div ng-repeat="customer in customers" class="customer__card">
      <a class="customer__card--link" ng-click="getView(customer)">
        <div class="customer__card--content">
          <p><i class="material-icons">person</i> {{customer.name}}</p>
          <p><i class="material-icons">phone</i> {{customer.phone}}</p>
        </div>
      </a>
      <div class="customer__card--actions">
        <i aria-label="Delete" role="button" title="Delete" class="material-icons" ng-click="deleteCustomer(customer)">delete</i>
      </div>
    </div>
  </div>
</section>
